<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/regist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

</head>
<body>
    <div class="outbox">
        <form action="">
        <div class="title"> 
          <span class="noselect">공지 사항</span>
       </div>
           
        <div class="leftbox">
            <nav>
                <ul class="mcd-menu">
                    <li>
                        <a href="http://www.naver.com">
                            <i class="fa fa-home"></i>
                            <strong>메인페이지</strong>
                            <small>Mainpage</small>
                        </a>
                    </li>
                    <li>
                        <a href="adminMain1.html"  >
                            <i class="fa fa-edit" ></i>
                            <strong>게시판</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="test3_1.html">
                            <i class="fa fa-gift"id="bpage" ></i>
                            <strong>문의사항</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="test3.html">
                            <i class="fa fa-globe" id="bpage1"></i>
                            <strong>공지사항</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="test4.html">
                            <i class="fa fa-comments-o"></i>
                            <strong>회원관리</strong>
                            <small>what they say</small>
                        </a>
                        
                    </li>
                    <li>
                        <a href="movieRegist.html">
                            <i class="fa fa-comments-o"></i>
                            <strong>영화등록</strong>
                            <small>what they say</small>
                        </a>
                        
                    </li>
                    
                  
                    
                   
                </ul>
            </nav>
        </div>
        <div class="rightbox">
            <div id="board-search">
                <div class="search-window">
                    <form action="">
                        <div class="search-wrap">
                            <select class="sele"> 
                                <option value="">전체</option>
                                <option value="">제목</option>
                                <option value="">제목+내용</option>
                               
                            </select>
                            <select class="sele2">
                                <option value="10">10개 보기</option>
                                <option value="20">20개 보기</option>
                                <option value="40">40개 보기</option>
                                <option value="80">80개 보기</option>
                            </select>
                            <label for="search" class="bline"></label>
                            <input type="search" name="" placeholder="검색어를 입력해주세요">
                      <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-search">검색</span>
                      </button>
                        </div>
                    </form>
                </div>
            </div>
          
                   
                        <table class="board-table">
                            <colgroup>
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:30%">
                            
                            <col style="width:15%">
                            <col style="width:15%">
                            
                            </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">관리자</th>
                                        <th scope="col">제목</th>
                                        
                                        <th scope="col">파일</th>
                                        <th scope="col">등록일</th>
                                    </tr>
    
                                </thead>
                               <tbody>
                                   <tr>
                                       <td>1</td>
                                       <td>
                                           power5295
                                        </td>
                                       <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                    
                                       <td>남</td>
                                       <td>20220404</td>
                                   </tr>
                                   <tr>
                                        <td>1</td>
                                        <td>
                                            power5295
                                         </td>
                                        <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                    
                                        <td>남</td>
                                        <td>20220404</td>
                                    </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                   
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                   
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                   
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                  
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                  
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        power5295
                                     </td>
                                    <td><a href="noticed1.html"> 서울시 송파구 삼전로 8길 16-1</a></td>
                                  
                                    <td>남</td>
                                    <td>20220404</td>
                                </tr>

                               </tbody>
                                
                              
                          
                        </table>
            
            
      
    
                
                <section>
                    <div class="page3">
                        <a href="noticed.html" title="Button fade lightblue" class="button btnFade btnLightBlue">등록</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-left"
                                        aria-hidden="true"><<</i></a></li>
                            <li style="margin-right:5px;"><a href="#"><<i class="fa fa-angle-left"
                                        aria-hidden="true"></i></a></li>
                            <li class="on"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li style="margin-left:5px;"><a href="#"><i class="fa fa-angle-right"
                                        aria-hidden="true">></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"
                                        aria-hidden="true">>></i></a></li>
                        </ul>
                    </div>
                            
                    </section>    
            </div>
  
        
    </div>
    
    
</form>

</body>
</html>