<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
<head>

    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/practice.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/practice.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    
</head>
<body>
    <header class="navigator">
        <hgroup class="pull-left">
            <div class="menu-bar">	
                <a class="fa fa-fw fa-naver" href="https://www.naver.com"> <img src="img/naver_black.jpg" width="80"></a></li>
                <a class="fa fa-fw fa-serieson" href="https://serieson.naver.com/v2/movie?isWebtoonAgreePopUp=true"> <img src="img/series_on.jpg" width="80"></a></li>
            </ul>	
        </hgroup>
        <hgroup class="pull-right">
            <div class="menu-bar">
                <a class="nav-menu" href="userLogin"><img src="img/userlogin.jpg">로그인</a>
                <a class="nav-menu" href="userJoin"><img src="img/join.jpg">회원가입</a>
            </div>	
        </hgroup>
    </header>
    <nav id="main-navigation">
        <div class="pull-left">
            <ul class="outer-menu">
                <li class="outer-menu-item">
                    <a href="#">국내 영화</a>
                    <ul class="inner-menu">
                        <li class="inner-menu-item"><a href="#">데이터</a></li>
                        <li class="inner-menu-item"><a href="#">데이터</a></li>
                    </ul>
                </li>
                <li class="outer-menu-item">		
                    <a href="#">해외 영화</a>
                    <ul class="inner-menu">
                        <li class="inner-menu-item"><a href="#">데이터</a></li>
                        <li class="inner-menu-item"><a href="#">데이터</a></li>
                    </ul>
                </li>
            </ul>
        </div>	
        <div class="pull-right">
            <div class="search-bar">
                <form class="search">	
                    <select class="SelectSearch" name="WhichSearch">
                        <option id="select" selected value="select">검색 내용 선택</option>
                        <option id="director" value="director">감독</option>
                        <option id="actor" value="actor">영화배우</option>
                        <option id="moviename" value="moviename">영화이름</option>
                    </select>
                    <input type="text" name="search" maxlength = 255 value = "" autocomplete="off" placeholder="내용을 입력하세요"/>
                    <button class="img-button" type="submit" name="click" value="검색"> <!--btn btn-default-->
                        <i class="fas fa-search">검색</i>
                    </button> 	
                </form>
            </div>
        </div>
    </nav>    
    
    <th:block th:replace="${content}"></th:block>

    <footer class="footer">
        <div class="footer_wrap">
            <div class="footer_top">
                <!-- 상위 -->
                <ul class="pull_left">
                    <span>
                        <a href="#">공지사항</a>
                        <a href="#">문의사항</a>
                    </span>		
                </ul>
            </div>
        </div>
        <div class="footer_wrap2">
            <div class="footer_bot">
                <!-- 하위 -->
                <p>
                    <span><strong>팀명 : 영화 VOD 판매 프로그램</strong></span><br>
                    <span>조장 : 김영찬</span>
                    <span>조원 : 엄인국</span>
                    <span>조원 : 김상아</span>
                    <span>조원 : 남태희</span>
                    <span>조원 : 최민석</span>
                </p>
            </div>
        </div>
    </footer>
</body>
</th:block>
</html>