<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/userLogin.css">
<style>
	
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

</style>

</head>
<body>
	
	<form method="POST" class="joinForm">

		<h2>홈페이지 이름</h2>
		<div class="textForm">
			<input name="loginId" type="text" class="id" placeholder="아이디">
		</div>
		<div class="textForm">
			<input name="loginPw" type="password" class="pw" placeholder="비밀번호">
		</div>
		<div>
			<a href="##" class="idfind">아이디 찾기</a><a href="##">비밀번호 찾기</a>
		</div>


		<input type="submit" class="btn" value="로 그 인" />
		<input type="submit" class="btn" value="회 원 가 입" />
		
		<div class="footer-social-links">
			<a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="#" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
			<a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
			<a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
		  </div>
		

	</form>
</body>
</html>