<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/userMypage.css">
</head>
<body>

<div class="wrap">
	<div class="area">
		<div id="content" class="util">
			<h2 class="title">마이페이지</h2>
			<div class="container">
				<ul class="mytab">
					<li id = "a1"  data-tg="#my" class="mylisttab now"><a  class="tabplay" href="##">대여 영상</a></li>
					<li id = "a2"  data-tg="#buy" class="mylisttab"><a  class="tabplay" href="##">구매 영상</a></li>
					<li id = "a3"  data-tg="#favorite" class="mylisttab"><a  class="tabplay" href="##">관심목록</a></li>
					<li id = "a4" data-tg="#qna" class="mylisttab"><a  class="tabplay" href="##">문의사항</a></li>
					<li id = "a5" data-tg="#comment" class="mylisttab"><a  class="tabplay" href="##">나의 댓글</a></li>
					<li id = "a6" data-tg="#mynotice" class="mylisttab"><a  class="tabplay" href="##">나의 정보</a></li>

				</ul>
				<br>
				<div id="my" class="xxx yyy">
					<p>대여 영상 목록</p>
					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
				</div>

				<div id="buy" class="xxx ">
					<p>구매 목록</p>

					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

					<div class="select">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
				</div>

				<div id="favorite" class="xxx">
					<div>
						<input type="checkbox" onclick='selectAll(this)'> 전체선택
						<button id="delbtn">선택영화 삭제</button>
					</div>
					<div class="select">
						<input type="checkbox" class="ckbox">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

					<div class="select">
						<input type="checkbox" class="ckbox">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

					<div class="select">
						<input type="checkbox" class="ckbox">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

					<div class="select">
						<input type="checkbox" class="ckbox">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>
					
					<div class="select">
						<input type="checkbox" class="ckbox">
						<a href="##"><img src="img/1.jpg" alt = "" height = 110px width = 100px style="float : left"></a>
						<div class="left">
							<li><a>영화 제목</a></li><br>
							<li><a>구매/대여 여부</a></li><br>
							<li><a>남은 기간</a></li>
						</div>
		
						<div class="right">
							<li><a>영화제목DB</a></li><br>
							<li><a>구매/대여DB</a></li><br>
							<li><a>남은기간DB</a></li>
						</div>
					</div>

				</div>

				<div id="qna" class="xxx">
					<div>
						<section class="notice">
							<div id="board-search">
								<div class="search-window">
									<form action="">
										<div class="search-wrap">
											
											<label for="search" class="blind">문의사항 내용 검색</label>
											  <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
											  <button type="button" class="btn btn-default">
												<span class="glyphicon glyphicon-search"></span> Search
												</button>
										</div>
									</form>
								</div>
							</div>
							<div id="board-list">
								<div class="container1">
									<table class="board-table">
										<thead>
										<tr>
											<th scope="col" class="th-num">번호</th>
											<th scope="col" class="th-title">제목</th>
											<th scope="col" class="th-writer">글쓴이</th>
											<th scope="col" class="th-date">등록일</th>
											<th scope="col" class="th-count">조회</th>
										</tr>
									</thead>
									<tbody>

									<tr>
									<td>1</td>
										<th>
										  <a href="#">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
										  <p>테스트</p>
				
										</th>
										<td>id</td>
										<td>2017.07.13</td>
										<td>숫자</td>
									  </tr> 
									   <tr>
										  <td>1</td>
											  <th>
												<a href="#">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
												<p>테스트</p>
											   
											  </th>   
											  <td>id</td>
											  <td>2017.07.13</td>
											  <td>숫자</td>
											</tr>
											<tr>
											  <td>1</td>
												  <th>
													<a href="#">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
													<p>테스트</p>
												 
												  </th>
												  <td>id</td>
												  <td>2017.07.13</td>
												  <td>숫자</td>
												</tr>
												<tr>
													<td>1</td>
														<th>
														  <a href="#">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
														  <p>테스트</p>
													   
														</th>
														<td>id</td>
														<td>2017.07.13</td>
														<td>숫자</td>
													  </tr>
									</tbody>
								  </table>
								  <div class="clickbtn">
				
									  <button class="w-btn w-btn-indigo" type="button">
										  
										  <a href="#"scope="col"class="writer" >등록</a>
										</button>
									</div>
						</section>
					</div>
				</div>

				<div id="comment" class="xxx">
					<div>
						<section class="notice">
							<div id="board-search">
								<div class="search-window">
									<form action="">
										<div class="search-wrap">
											
											<label for="search" class="blind">문의사항 내용 검색</label>
											  <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
											  <button type="button" class="btn btn-default">
												<span class="glyphicon glyphicon-search"></span> Search
												</button>
										</div>
									</form>
								</div>
							</div>
							<div id="board-list">
								<div class="container1">
									<table class="board-table">
										<thead>
										<tr>
											<th scope="col" class="th-num">번호</th>
											<th scope="col" class="th-title">내용</th>
											<th scope="col" class="th-writer">영화제목</th>
											<th scope="col" class="th-date">등록일</th>
											<th scope="col" class="th-count">좋아요</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each ="{}">
										<td>1</td>
										<th>
										  <a href="#">이영화 재미없음 ㅋㅋ</a>
										  <p>테스트</p>
										 
									  </th>
									  <td>id</td>
										<td>2017.07.13</td>
										<td>숫자</td>
									</tr>
									<tr>
									<td>1</td>
										<th>
										  <a href="#">이영화 재미없음 ㅋㅋ</a>
										  <p>테스트</p>
				
										</th>
										<td>id</td>
										<td>2017.07.13</td>
										<td>숫자</td>
									  </tr> 
									   <tr>
										  <td>1</td>
											  <th>
												<a href="#">아 ㅋㅋ</a>
												<p>테스트</p>
											   
											  </th>   
											  <td>id</td>
											  <td>2017.07.13</td>
											  <td>숫자</td>
											</tr>
											<tr>
											  <td>1</td>
												  <th>
													<a href="#">숨은 명작</a>
													<p>테스트</p>
												 
												  </th>
												  <td>id</td>
												  <td>2017.07.13</td>
												  <td>숫자</td>
												</tr>
												<tr>
													<td>1</td>
														<th>
														  <a href="#">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
														  <p>테스트</p>
													   
														</th>
														<td>id</td>
														<td>2017.07.13</td>
														<td>숫자</td>
													  </tr>
									</tbody>
								  </table>
						</section>
					</div>
				</div>

				<div id="mynotice" class="xxx">
					<p>나의 정보</p>
					<div>
						<h1 class="">계정</h1>
						<div class="">
							<div class=""></div>계정 가입일: 3월 2020
						</div>
						<div class=""></div>
						<div class=""></div>
						<div class="">
							<div class=""data-uia="">
								<header class="myhead">
									<h2 class="">계정 &amp; 내 정보
										<button class="memberbtn" type=" button" autocomplete="off" tabindex="0">
											<span>계정 탈퇴
											</span>
										</button>
									</h2>
								</header>
								<section class="">
									<div class="simplenotice">
										<div class="">
											<div class="simplenotice-left">
												<div class="">
													cmsjy040317@naver.com</div>
												<div class="d">
													비밀번호:
													<!-- --> ********
												</div>
												<div class="">
													전화번호: 010-9525-7548
												</div>
												<div>
													성별: 남성
												</div>
												<div>
													생년월일: 970403												
												</div>
											</div>
											<div class="simplenotice-right">
												<div class=""><a class="" href="##"
													onclick="window.open('http://127.0.0.1:5501/userEmail.html','window_password','width=430,height=500');">이메일 주소 변경</a></div>
												<div class=""><a class="" href="##"
													onclick="window.open('http://127.0.0.1:5501/userPassword.html','window_password','width=430,height=500');">비밀번호 변경</a></div>
												<div class=""><a class="" href="##"
													onclick="window.open('http://127.0.0.1:5501/userPhone.html','window_password','width=430,height=500');">휴대폰 번호 변경</a></div>
												<div class=""><a class="" href="##">성별 변경</a></div>
												<div class=""><a class="" href="##">생년월일 변경</a></div>
											</div>
										</div>
									</div>
									<!-- <div class="">
										<div>
											<div class="">
												<div class="">
													<div class="">
														<div class="">
															<span class="">
																<span class="">신용카드</span> 
															</span>
															<span id="" class="">•••• •••• •••• 7049</span>
														</div>
													</div>
													<div id="" class="">다음 결제일은 2022년 5월11일입니다.</div>
												</div>
												<div class="">
													<div class=""><a class="" href="##">결제 정보관리</a></div>
													<div class=""><a class="" href="##">예비 결제 수단 등록</a></div>
													<div class=""><a class="" href="##">결제 상세 정보</a></div>
													<div class=""><a class="" href="##">결제일변경</a></div>
												</div>
											</div>
										</div> -->
									</div>
								</section>
							</div>
						</div>
					</div>
					
					
					<!-- <button class="butn" style=text-align:center>회원 탈퇴</button> -->
					<!-- <button class="butn" style=text-align:center style="top:50px; right:50px;">회원정보 수정</button> -->
				</div>

				<!-- 				
				<div class="mainlist">
					<div class="cen_txt" style = text-align:center>
						<span style = color:#6a6a6a >구매 및 대여 항목이 없습니다.</span>
					</div>
				</div> -->


			</div>
			<div id="mybtn" class="text-center">
				<!-- 부트스트랩의 클래스 -->
                <ul class="pagination pagination-sm">	
                    <li><a href="#">이전</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">다음</a></li>
                </ul>
            </div>
		</div>

	</div>
</div>

</body>

<script th:inline="javascript">


	var mytab = document.querySelector(".mytab");
	var mytabli = document.getElementsByClassName("mylisttab");
	var btn = document.getElementById("mybtn");
	var delbtn = document.getElementById("delbtn");
	const checkboxes = document.getElementsByClassName("ckbox");
	console.log(checkboxes);
	


	// console.log(mytabli.className);
	mytab.onclick = function(e) {
		e.preventDefault();
		if(e.target.tagName != "A") return;
		// console.log(e.target.parentElement.dataset.tg)

		document.querySelectorAll(".xxx").forEach(function(value, index ) {
			value.classList.remove("yyy");

		})
		document.querySelectorAll(".mylisttab").forEach(function(value, index ) {
			value.classList.remove("now");
		})
		
		// console.log(document.querySelectorAll(".mylisttab"));

		var now = e.target.parentElement.classList;
		// e.target.parentElement.classList.forEach(function(value, index) {
		// 	now.remove("now");
		// });

		// console.log(mytabli.className);
		// mytabli.className="mylisttab";
		// now.value = "now";



		var idx = e.target.parentElement.dataset.tg;
		document.querySelector(idx).classList.add("yyy");
		var idx2 = "#" + e.target.parentElement.id;
		// console.log(idx2);
		document.querySelector(idx2).classList.add("now");

		if(idx == "#mynotice") {
			btn.style.display = "none";
		} else {
			btn.style.display = "block"
		}

		if(idx == "#favorite") {
			delbtn.style.display = "inline-block";
		} else {
			delbtn.style.display = "none";
		}
	}

	
	function selectAll(selectAll) {;
		checkboxes.forEach((checkbox) => {
    	checkbox.checked = selectAll.checked;
  		})

	}

	// var myclick = document.getElementById("my");
	// var buyclick = document.getElementById("buy");
	// var favorite = document.getElementById("favorite");
	// var centertxt = document.querySelector(".cen_txt > span");
	// var comment = document.getElementById("comment");
	// var qna = document.getElementById("qna");
	// var mylist = document.getElementById("mylist");

	// myclick.onclick = function() {
	// 	centertxt.innerHTML = "대여한 영상이 없습니다.";
	// 	myclick.className = "now";
	// 	buyclick.className = "";
	// 	favorite.className = "";
	// 	qna.className = "";
	// 	comment.className = "";
	// 	mylist.style.display = "block";
	// }

	// buyclick.onclick = function() {
	// 	centertxt.innerHTML = "구매한 영상이 없습니다."
	// 	myclick.className = "";
	// 	buyclick.className = "now";
	// 	favorite.className = "";
	// 	qna.className = "";
	// 	comment.className = "";
	// 	mylist.style.display = "block";
	// }

	// favorite.onclick = function() {
	// 	centertxt.innerHTML = "관심있는 영상이 없습니다."
	// 	myclick.className = "";
	// 	buyclick.className = "";
	// 	favorite.className = "now";
	// 	qna.className = "";
	// 	comment.className = "";
	// 	mylist.style.display = "block";
	// }

	// qna.onclick = function() {
	// 	centertxt.innerHTML = "나의 문의사항이 없습니다."
	// 	myclick.className = "";
	// 	buyclick.className = "";
	// 	favorite.className = "";
	// 	qna.className = "now";
	// 	comment.className = "";
	// 	mylist.style.display = "none";
	// }

	// comment.onclick = function() {
	// 	centertxt.innerHTML = "내가 적은 댓글이 없습니다."
	// 	myclick.className = "";
	// 	buyclick.className = "";
	// 	favorite.className = "";
	// 	qna.className = "";
	// 	comment.className = "now";
	// 	mylist.style.display = "none";
	// }

</script>
</html>