* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
    ul, li {list-style : none;} 
    a {text-decoration : none;
       color : inherit; 
    }
/*-- 기본 클래스 --*/
.pull-left {float : left;}
.pull-right {float : right;}
.navigator {
    width : 1130px;
    height : 60px;
    margin : 0 auto;
    margin-top : 10px;
    padding : 10px 10px;
    border-top : 1px solid #C8C8C8;
    border-bottom : 1px solid #C8C8C8;
    margin-bottom : 10px;
    background-color : orange;
    height : 50px;
    display : block; 
    border : 1px solid block;
}
hgroup {
    font-size : 1em;
    font-weight : bold;
}	
.navigator > .pull-left, .pull-right >.menu-bar {
    margin-top : -5px;
    margin-bottom : 30px;
    margin-left : -5px;
    align-self : cener;
    background-size : 769px 745px;
    display : inline-block;
    vertical-align : top;
    font : bold 12px 'arial';
    background-color : #FFFFFF;
    font-family : 'Montserrat', sans-serif;
    letter-spacing : 2px;
    margin-top : -1px;
}
.navigator > .menu-bar > a {
    padding : 12px;
    display : inline-block;
    font-size : 18px;
    margin : 0;
}
.navigator > .menu-bar a:hover {
    background-color: #000;
}
.navigator > .menu-bar a.active {
    background-color : yellowgreen;
}
.navigator > hgroup > a {
    box-sizing : border-box;
    align-items : center;
    justify-content : space-between;
    margin : 0px;
    padding-top : 4px;
    font-weight : 800px;
    margin-top : -1px;
    margin-left : -3px;
    margin-right : 5px;
    margin-bottom : 0px;
}
/* 내비게이션 */
#main-navigation {
    clear : both;
    width : 1130px;
    margin : 0 auto;
    height : 120px;
    margin-top : 10px;
    margin-bottom : 10px;
    padding : 10px 10px;
    border : 1px solid black;
    overflow : hidden;
    border-top : 1px solid #777;
    border-bottom : 1px solid #777;
    display : block;
	justify-content : space-between;
}
#main-navigation > .pull-left .outer-menu {
    font-size : 0;
}
#main-navigation > .pull-left .outer-menu > li {
    display : inline-block;
    width : 100px;
    vertical-align : top;
    background : #ddd;
    text-align : center;
    font-size : 16px;
    box-sizing : border-box;
}
#main-navigation > .pull-left .outer-menu > li:hover > a {
    background : blue;
    color : #fff;
}
#main-navigation > .pull-left .outer-menu > li:hover > .inner-menu {
    display : block;
}
#main-navigation > .pull-left .outer-menu > li > a {
    display : block;
    padding : 10px 0;
}
#main-navigation > .pull-left .inner-menu {
    display : none;
    background : orange;
}
#main-navigation > .pull-left .inner-menu a {
    display : block;
    padding : 10px 0;
}
#main-navigation > .pull-left .inner-menu a:hover {
    text-decoration : underline;
}
/* 내비게이션 내부의 검색 */
.search-bar {
    height : 26px;
    padding : 7px;
}
.input-search {
    display : block;
    float : left;
    background-color : #FFFFFF;
    border : 1px solid #CCCCCC;
    border-radius : 15px 0 0 15px;
    box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width : 120px; 
    height : 24px;
    padding : 0 0 0 10px;
    font-size : 12px;
    color : #555555;
}
.input-search:focus {
    border-color : rgba(82, 168, 236, 0.8);
    outline : 0;
    box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.input-search-submit {
    display : block;
    width : 50px; 
    height : 26px;
    border-radius : 0 15px 15px 0;
    border : 1px solid #CCCCCC;
    margin-left : -1px;
    display : inline-block;
}    	
#main {
    width : 1130px;
    height : 505px;
    margin-top : 10px;
    margin : 0 auto;
}
#content {
    width : 900px;
    margin : 0 auto;
    height : 500px;
    float : left;
    margin-top : 10px;
    border : 1px solid black;
}
aside {
    width : 220px;
    margin : 0 auto;
    height : 500px;
    float : left;
    margin-top : 10px;
    border : 1px solid black;   
}
footer {
    clear : both;
    background-color : #24262b;
    width : 1130px;
    height : 100px;
    bottom : 0px;
    position : relative;
    margin-top : 10px;
    padding : 10px 10px;
    margin-bottom : 0px;
    margin : 0 auto;
    border-top : 1px solid #C8C8C8;
    border-bottom : 1px solid #C8C8C8;
    border : 1px solid white;
    font-size : 11px;
    overflow : hidden;
    display : block;
	justify-content : space-between;
}
.footer a {
    display : inline-block;
    margin : 0 20px 10px 20px;
    color : white; 
    font-size: 20px;
} 
.footer a:visited {
    color : yellowgreen;
}
.footer > p > span > a {
    margin-top : 0; 
    margin-bottom : 0;
    font-size : 16px;
    color : white;   
}
footer span {
    display : inline-block;
    margin-left : 20px;
    color : white;
}